<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <%= @name %>
        </td>
    </tr>
    <tr>
        <td>
            Bio:
        </td>
        <td>
            <p><%= @bio %></p>
        </td>
    </tr>
</table>
